@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 50px;
}

/* Header */
header {
    margin-bottom: 50px;
}

nav {
    min-height: 10vh;
}

#logo img {
    width: 162px;
}

/* Section Container  */
.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

.image img {
    width: 100%;
}

.image {
    margin-right: 40px;
}

.image,
.text {
    flex: 1 1 300px;
}

.text {
    padding-top: 40px;
    color: white;
}

.text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-size: cal(30px + 1vw);
    letter-spacing: 1.5px;
}

.text h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
    color: rgb(230, 230, 230);
    letter-spacing: 1px;
}

.h1-pertama {
    margin-bottom: 7px;
}

.h1-kedua {
    margin-bottom: 20px;
}

.text button {
    width: 160px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Sosmed */
.sosmed-link {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 0;
}

.sosmed-link li {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sosmed-link li a {
    color: #fff;
}


@media (max-width:740px) {
    .container {
        justify-content: center;
        min-height: 50vh;
    }

    .image img {
        width: 108%;
    }

    .text {
        text-align: center;
    }

    .text button {
        width: 40%;
    }

    .sosmed-link {

        justify-content: center;
    }
}